/* Header Section */
#header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header header {
    min-height: 8vh;
    transition: background-color .3s ease;
}

/*Nav bar*/
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 100%;

    max-width: 14400px;
    padding: 0 3%;
}

header nav .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

/*Nav list*/
header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color:  #6F2232;/*Test color*/
    border-radius: 15%;
    
    text-align: center;
    
    top: 50%;
    margin-left: 0;
    z-index: 1;
    visibility: hidden;
}

header .nav-list ul.active {
    top: 100%;
    visibility: visible;
    transition: .2s ease;
    transition-property: top, visibility;
}

header.nav-list ul.inactive {
    top: 50%;
    visibility: hidden;
    transition: visibility 0s;
}

header .nav-list ul li a {
    font-size: 1.25rem;
    font-weight: 520;
    letter-spacing: .1rem;
    text-decoration: none;
    color: white;
    padding: 2px 5px;
    display: block;
}

header .nav-list ul li:hover a{
    color:#400b1b;
}

/*Form*/
#header header form {
    color: #382D2D;
    margin-top: 3px;

    display: grid;
    grid-template-columns: 80px 1fr;
    row-gap: 0.5rem;
    
    padding-bottom: 5px;
}

#header header form label {
    grid-column: 1 / 2;
    font-weight: bold;
    font-size: 1rem;
}

#header header form input {
    grid-column: 2 / 3;
}

#header header form input[type=text], #header header form input[type=password] {
    border-radius: 1rem;
}

#header header form input[type=submit]{
    font-weight: normal;
    font-size: 1.0rem;
    background: #B1B1BC;
    border-radius: 5px;
    color: #000000;
    text-align: center;
}

/*Hamburguer*/
header .hamburguer{
    width: 62px;
    height: 62px;

    border: 3px solid white;
    border-radius: 50%;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
    cursor: pointer;
    transform: scale(.8);
    margin-top: 10%;
}

header .hamburguer::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburguer_puls 1.3s ease infinite;
}

header .hamburguer .bar {
    width: 35px;
    height: 4px;
    border-radius: 179px;
    position: relative;
    background-color: white;
    z-index: -1;
}

header .hamburguer .bar::after, header .hamburguer .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 179px;
    background-color: white;
    
    transition: .3s ease;
    transition-property: top, bottom;
}

header .hamburguer .bar::before{
    bottom: 0;
}

header .hamburguer .bar::after {
    top: 0;
}

header .hamburguer.active .bar::after{
    top: 10px;
}

header .hamburguer.active .bar::before{
    bottom: 10px;
}
/* End Header Section */

/* Keyframes */
@keyframes hamburguer_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}
