/* High Scores Section */
#highscores {
    background: #4E4E50;
    position: relative;
}

#highscores .highscores {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#highscores h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 4%;
    color: #FFFFFF;
}

#highscores .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

#highscores .table-title {
    color: #f5f2f2;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 
    -1.7px -1.7px 0 rgb(18 12 12),
    0 -1.7px 0 rgb(18 12 12),
    1.7px -1.7px 0 rgb(18 12 12),
    1.7px 0 0 rgb(18 12 12),
    1.7px 1.7px 0 rgb(18 12 12),
    0 1.7px 0 rgb(18 12 12),
    -1.7px 1.7px 0 rgb(18 12 12),
    -1.7px 0 0 rgb(18 12 12);
    padding-left: 5px;
}

/*Table*/
#highscores .highscores table {
    color: #FFFFFF;
    background-color: #0E0A0A;

    width: 65vw;
    text-align: center;

    border-collapse: separate;
    border-spacing: 0;
    border-radius: 2em 0 2em 0;

    overflow: hidden;
    transition: box-shadow .4s ease;
}

#highscores .highscores table:hover {
    box-shadow: 0 2px 10px #00FFFF;/*rgba(32, 32, 32, .3);*/
}

#highscores .highscores table thead {
    background-color: #C4C4C4;
    height: 4.5rem;
}

#highscores table thead th {
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow:
    -1.7px -1.7px 0 #A82727,
     0   -1.7px 0 #A82727,
     1.7px -1.7px 0 #A82727,
     1.7px  0   0 #A82727,
     1.7px  1.7px 0 #A82727,
     0    1.7px 0 #A82727,
    -1.7px  1.7px 0 #A82727,
    -1.7px  0   0 #A82727;
}

#highscores table td {
    font-size: 1rem;
    font-weight: 600;
}

#highscores table th, #highscores table td {
    padding: 0.5em 0.5em;
}

#highscores table tbody tr:nth-child(odd) {
    background-color: #8A8888;
}
#highscores table tbody tr:nth-child(even) {
    background-color: #403b3e;
}

/*Slider*/
#highscores .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#highscores .slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#highscores .slides {
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

#highscores .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

#highscores .slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 40px;
}

#highscores .slide a img {
    width: 100%;
    height: 100%;
}

#highscores a.slide_prev {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    left: 5%;
}

#highscores a.slide_next{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: 5%;
}

#highscores .slider_nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

#highscores .slider_navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000000e6;
    margin: 0 10px 0 10px;
}

#highscores .slider_navlink.active {
    background-color: #0000005c;
    transition: background-color 0.3s ease;
}


/*Divider*/
#highscores .divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#highscores .divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

#highscores .divider .shape-fill {
    fill: #1A1A1D;
}
