/* High Scores Section */
#highscores {
    background: #4E4E50;
    position: relative;
}

#highscores .highscores {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#highscores h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 7%;
    color: #FFFFFF;
}

/*Table*/
#highscores .highscores table {
    color: #FFFFFF;
    background-color: #0E0A0A;

    width: 65vw;
    text-align: center;

    border-collapse: separate;
    border-spacing: 0;
    border-radius: 2em 0 2em 0;

    overflow: hidden;
    transition: box-shadow .4s ease;
}

#highscores .highscores table:hover {
    box-shadow: 0 2px 10px #00FFFF;/*rgba(32, 32, 32, .3);*/
}

#highscores .highscores table thead {
    background-color: #C4C4C4;
    height: 4.5rem;
}

#highscores table thead th {
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow:
    -1.7px -1.7px 0 #A82727,
     0   -1.7px 0 #A82727,
     1.7px -1.7px 0 #A82727,
     1.7px  0   0 #A82727,
     1.7px  1.7px 0 #A82727,
     0    1.7px 0 #A82727,
    -1.7px  1.7px 0 #A82727,
    -1.7px  0   0 #A82727;
}

#highscores table td {
    font-size: 1rem;
    font-weight: 600;
}

#highscores table th, #highscores table td {
    padding: 0.5em 0.5em;
}

#highscores table tbody tr:nth-child(odd) {
    background-color: #8A8888;
}
#highscores table tbody tr:nth-child(even) {
    background-color: #403b3e;
}

/*Divider*/
#highscores .divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#highscores .divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

#highscores .divider .shape-fill {
    fill: #1A1A1D;
}
/* End High Scores Section */
