/* Home Section */
#home {
    background: #4E4E50;
    position: relative;
}
#home .home {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
}
#home h1{
    color: #F90951;
    font-weight: 800;
    font-style: normal;
    font-size: 4.5rem;
}
#home .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
/* End Home Section */
