/* Welcome Menu */
#play .welcome-menu {
    flex-direction: column;
    margin: 0 auto;
    max-width: 100vw;
    padding: 80px;
}

#play .welcome-menu.active {
    filter: blur(15px);
    pointer-events: none;
    user-select: none;
}

/* Banner */
#play .welcome-menu .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 85vh;
    height: 25vh;

    background: #797575;
    border-radius: 1.8rem 1.8rem 0px 0px;
    overflow: hidden;

    padding: 4px 20px;
}

#play .welcome-menu .banner .text h2 {
    font-weight: normal;
    font-size: 1.3rem;
}

#play .welcome-menu .banner .text p {
    font-weight: 10;
    font-size: 0.8rem;
    position: relative;
    top: -5px;
}

#play .welcome-menu img {
    width: 60px;
    height: 60px;
    transform: rotate(46.01deg);
    opacity: 80%;
}

/* Settings */
#play .welcome-menu .settings {
    background: #C4C4C4;
    width: 85vh;
    height: 50vh;
    border-radius: 0 0 30px 30px;
    padding: 20px 20px;
    padding-top: 10px;

    display: flex;
    overflow: auto;
}

#play .welcome-menu form {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

#play .welcome-menu form #mode {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#play .welcome-menu form #difficulty {
    grid-area: 2 / 1 / 3 / -1;
}

#play .welcome-menu form #play-btn {
    grid-area: 3 / 1 / 4 / 5;
}

#play .welcome-menu form #instructions-btn {
    grid-area: 3 / 5 / 4 / 6;
}

#play .welcome-menu form #more-settings-btn {
    grid-area: 3 / 6 / 4 / 7;
}

/* Butttons */
#play #mode input {
    display: none;
}

#play #mode .mode-label {
    cursor: pointer;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.2rem;
    min-width: 150px;
    text-align: center;
    padding: 10px 0px;
    transition: background-color 200ms ease;
}

#play #mode .mode-label:first-of-type {
    border-radius: 25px 0px;
}
#play #mode .mode-label:last-of-type {
    border-radius: 0px 25px;
}

#play #mode input:checked + .mode-label {
    background-color: #A82727;
    cursor: default;
    transition: background-color 200ms ease;
}

/* End Welcome Menu */