/* End Menu */
#play .end-menu {
    position: absolute;
    z-index: 10;
    
    max-width: 100vw;
    flex-direction: column;
    
    visibility: hidden;
    opacity: 1;
}

/* Banner */
#play .end-menu .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80vh;
    height: 20vh;

    background: #726B6B;
    border-radius: 1.8rem 1.8rem 0px 0px;
    overflow: hidden;

    padding: 4px 20px;
}

#play .end-menu .banner h1 {
    padding: 0 0.7rem;
    font-size: 2rem;
}

#play .end-menu .banner img {
    width: 50px;
    height: 50px;
}

#play .end-menu #leftEndIcon {
    animation: rotate 0.8s ease infinite;
}
#play .end-menu #rightEndIcon {
    animation: rotate 0.8s ease infinite;
}

/* Information */
#play .end-menu .information {
    background: #C4C4C4;
    width: 80vh;
    height: 28vh;
    border-radius: 0 0 30px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Final Scores */
#play .end-menu .information .final-scores {    
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

#play .end-menu .information .final-scores p {
    font-size: 1.25rem;
}

#play .end-menu .information .final-scores div:first-of-type {
    position: relative;
    width: 55%;
    background-color: #2182B9;
    padding: 0.3rem 0;
    border-radius: 0 10px 10px 0;
    margin-right: 0.5rem;
}

#play .end-menu .information .final-scores div:first-of-type:after {
    content: '';
}

#play .end-menu .information .final-scores div:nth-of-type(2) {
    width: 45%;
    background-color: #C3073F;
    padding: 0.3rem 0;
    border-radius: 10px 0 0 10px;
    margin-left: 0.5rem;
}

#play .end-menu .information .final-scores div {
    text-align: center;
}

.end-menu.active #canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Continue Button */
#play #continue-btn {
    color: white;
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: 'Nunito';

    background-color: #A82727;
    border-radius: 10px;
    border: none;

    padding: 0.2rem 1rem;
}

#play #continue-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(101, 101, 101, 0.611);
    transition: .2s box-shadow ease;
}

#play .end-menu.active {
    visibility: visible;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.3s ease;
    transition-property: visibility, opacity;
    background: rgba(26, 26, 29, 0.92);
}

/* Keyframes */
@keyframes rotate{
    0%   {transform: rotate3d(0,0,1,-45deg)} 
    50% {transform: rotate3d(0,0,1,45deg)}
    100% {transform: rotate3d(0,0,1,-45deg)}
}
