/* Game Board */

#play .game {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    padding: 7.5%;
}

#play .game.active {
    display: flex;
}

#play .gameboard {
    background-color: #C4C4C4;
    width: 75vw;
    height: 50vh;
    border-radius: 2em;
    padding: 3em;
    margin: 1em;

    display: grid;
    grid-template: 1fr 0.25fr 0.25fr 1fr / 1fr repeat(5, 0.75fr) 1fr;
    row-gap: 0.25em;
    column-gap: 0.5em;
    justify-content: space-around;
}

#play .game .other-deposit, #play .game .my-deposit {
    background-color: #8A8888;
    border-radius: 5em;
}
#play .game .other-hole, #play .game .my-hole {
    background-color: #8A8888;
    border-radius: 7.5em;
}

#play .game .hole-score, #play .game .other-deposit-score, #play .game .my-deposit-score {
    place-self: center;
}
#play .game .hole-score {
    font-size: 120%;
    font-weight: 200%;
    color: #020202;
}
#play .game .other-deposit-score, #play .game .my-deposit-score {
    font-size: 250%;
    font-weight: 250%;
    color: #555555;
}

#play .game .other-deposit {
    grid-area: 1 / 1 / 4 / 2;
}
#play .game .my-deposit {
    grid-area: -1 / -1 / -4 / -2; 
}

/* Messages */
#play .game .messages {   
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    place-content: flex-end;
    row-gap: 1em;
    
    background-color: #827E7E;
    color: #C4C4C4;
    width: 25vw;
    height: 50vh;
    padding: 1.5em;
    border-radius: 0.75em;
    margin: 1em;
}

#play .game .messages h1 {
    font-weight: bolder;
    flex-grow: 1;
    justify-content: center;
}

#play .game .messages .not-opponent {
    place-self: flex-end;
    background-color: #2727A8;
    border: 0.5em solid #2727A8;
    border-radius: 0.75em 0.75em 0 0.75em; 
}
#play .game .messages .opponent {
    place-self: flex-start;
    background-color: #A82727;
    border: 0.5em solid #A82727;
    border-radius: 0.75em 0.75em 0.75em 0; 
}
/* End Game Board */
