/* Game Board */

.game {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    padding: 7.5%;
    display: none;
}

.game.active {
    display: flex;
}

.gameboard {
    background-color: #C4C4C4;
    width: 77vw;
    height: 60vh;
    border-radius: 2em 0 0 2em;
    padding: 3em;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr repeat(5, 0.75fr) 1fr;
    row-gap: 0.25em;
    column-gap: 0.5em;
    justify-content: space-around;
}

.enemy-deposit {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}
.my-deposit {
    grid-row: 1 / -1;
    grid-column: -2 / -1;
}

.enemy-deposit, .my-deposit, .enemy-hole, .my-hole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.enemy-deposit .score, .enemy-hole .score,
.my-deposit .hole, .my-hole .hole {
    order: 1;
}

.enemy-deposit .score, .my-deposit .score {
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}

.score {
    flex-grow: 0;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.hole {
    flex-grow: 4;
    background-color: #8A8888;
    border-radius: 10em;
}

.seed {
    position: relative;
    background-color: #A82727;

    width: 2em;
    height: 1em;
    border-radius: 50%;
}

/* Messages */
#play .game .messages {
    position: relative;
    right: 4%;

    display: grid;
    grid-template: 5% 95% / 100%;
    justify-content: center;

    width: 23vw;
    height: 60vh;

    background-color: #4E4E50;
    border-radius: 1.5rem 1.8rem 1.8rem 1.5rem;
}

#play .game .messages #title {
    text-align: center;
    grid-area: 1 / 1 / 1 / 1;
    max-height: 5%;
}

#play .game .messages #title h3 {
    padding-top: 2px;
    font-size: 1.1rem;
    color: white;
    height: 100%;
}

#play .game .messages #chat {
    overflow: auto;
    grid-area: 2 / 1 / 2 / 1;
    align-self: end;
    padding-bottom: 10px;
    max-height: 95%;
}

#play .game .messages .not-opponent {
    align-self: flex-end;
    background-color: #C4C4C4;
    color: white;
    font-size: 0.7rem;
    font-weight: 10;
    border-radius: 0.75em 0.75em 0 0.75em;
    padding: 0.3rem;
    margin: 4px 6px 4px 0;
}
#play .game .messages .opponent {
    align-self: flex-start;
    background-color: #A82727;
    color: white;
    font-size: 0.7rem;
    font-weight: 10;
    border-radius: 0.75em 0.75em 0.75em 0;
    padding: 0.3rem;
    margin: 4px 0 4px 6px;
}
/* End Game Board */
