/* Pause Button */
#play .gameboard #pause-btn {
    background-color: #A82727;
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;

    position: absolute;
    top: 1.8rem;

    display: flex;
    align-content: center;
    justify-content: center;

    transition: 0.3s ease;
}

#play .gameboard #pause-btn img {
    padding: 0.2rem;
    transform: rotate(90deg);
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.4s ease;
}

#play .gameboard #pause-btn:hover {
    cursor: pointer;
    padding-left: 0.2rem;
}
#play .gameboard #pause-btn img:hover {
    transform: rotate(270deg);
}

/* Game Board */
.game {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    padding: 7.5%;
    display: none;
}

.game.disable {
    pointer-events: none;
    user-select: none;
}

.game.active {
    display: flex;
}

.gameboard {
    background-color: #C4C4C4;
    width: 77vw;
    height: 60vh;
    border-radius: 2em 0 0 2em;
    padding: 3em;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr repeat(5, 0.75fr) 1fr;
    row-gap: 0.25em;
    column-gap: 0.5em;
    justify-content: space-around;
}

.enemy-deposit {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.my-deposit {
    grid-row: 1 / -1;
    grid-column: -2 / -1;
}

.enemy-deposit, .my-deposit, .enemy-hole, .my-hole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.enemy-deposit .score, .enemy-hole .score,
.my-deposit .hole, .my-hole .hole {
    order: 1;
}

.enemy-deposit .score, .my-deposit .score {
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}

.score {
    flex-grow: 0;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.hole {
    flex-grow: 4;
    background-color: #8A8888;
    border-radius: 10em;
}

.seed {
    position: relative;
    background-color: #A82727;

    width: 2em;
    height: 1em;
    border-radius: 50%;
}

