/* Game */
.game {
    padding: 7.5%;
    padding-right: 4.8%; /*TODO: right shit of messages, solve padding*/
    display: none;
}

.game.disable {
    pointer-events: none;
    user-select: none;
}

.game.active {
    display: flex;
}

/* Game Board */
.gameboard {
    position: relative;
    background-color: #C4C4C4;
    width: 77vw;
    height: 60vh;
    border-radius: 1.8rem 0 0 1.8rem;
    padding: 2rem 3rem;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr repeat(5, 0.75fr) 1fr;
    row-gap: 0.25em;
    column-gap: 0.5em;
}

.my-deposit {
    position: relative;
    grid-row: 1 / -1;
    grid-column: -2 / -1;
}

.enemy-deposit {
    position: relative;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
}

.enemy-deposit, .my-deposit, .enemy-hole, .my-hole {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.enemy-deposit, .my-deposit {
    min-width: 1.2rem;
}

.my-hole .hole {
    order: 1;
}

.hole {
    position: relative;
    width: 100%;
    height: 100%;
    
    background-color: #8A8888;
    border-radius: 5rem;
}

.seed {
    position: absolute;
    top: 45%;
    left: 40%;

    width: 20%;
    height: 10%;

    border-radius: 50%;

    transition: 0.5s ease;
    transition-property: top, left;
}

.enemy-deposit .seed, .my-deposit .seed {
    height: 5%;
}

.score {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
}

.my-deposit .hole {
    margin-top: 1.8rem;
}

.enemy-deposit .hole {
    margin-bottom: 1.8rem;
}

.my-deposit .score {
    position: absolute;
    bottom: 0;
}

.enemy-deposit .score {
    position: absolute;
    top: 0;
}

.enemy-deposit .score, .my-deposit .score {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(119 238 210);

    width: 100%;
    text-align: center;
}

/* Active Holes */
.hole.active {
    transition: 0.25s ease;
    transition-property: box-shadow;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.802);/* #A82727; */

}
.hole.active:hover {
    cursor: pointer;
    transition: 0.25s ease;
    transition-property: box-shadow;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.823);
}

/* Pause Button */
#play .gameboard #pause-btn {
    background-color: #A82727;
    border: none;
    border-radius: 0 0.4rem 0.4rem 0;

    position: absolute;
    top: 1.8rem;

    display: flex;
    align-content: center;
    justify-content: center;

    transition: 0.3s ease;
}

#play .gameboard #pause-btn img {
    padding: 0.2rem;
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
}

#play .gameboard #pause-btn:hover {
    cursor: pointer;
    padding-left: 0.4rem;
}
#play .gameboard #pause-btn img:hover {
    transform: rotate(270deg);
}

/* Timer */
#timer {
    display: none;
    position: absolute;
    left: 1.1rem;
    bottom: 1.2rem;
    color: #e8400ea3;
    font-weight: 700;
}

#time {
    padding-right: 3px;
    margin-right: 2px;
}

#timer img {
    width: 1rem;
    height: 1rem;
    animation: timer_anim 2s ease infinite;
    opacity: 0.4;
}

#timer.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Keyframes */
@keyframes timer_anim {
    50% {transform: rotate(90deg);}
    100% {transform: rotate(180deg);}
}